{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VideoBro | Leave a Review{% endblock %}</title>
</head>
{% block content %}
<body>
    <h1 class="reviewHead">Leave a Review</h1>
    <div class="reviewBody">
        <div class="innerHelp">
            <form method="POST" action="{% url 'review' %}" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button class="btnas" type="submit"><i class="fa-solid fa-box-archive"></i> Submit Review</button>
            </form>

        </div>

    </div>
    <br>
    {% if reviews %}
        <h2 class="reviewHead">Reviews</h2>
        <h3 class="views1">{{ reviews.count }} reviews and counting</h3>
        {% for review in reviews %}
            <div class="review">
                <div class="innerHelp">
                    <h3 class="reviewhead"><i class="fa-solid fa-user"></i> {{ review.username }}</h3>
                    <hr>
                    <p class="views">{{ review.content }}</p>
                    
                    <p class="views2"><i class="fa-solid fa-star"></i> {{ review.rating }}</p>
                    <p class="views1">Created at: {{ review.created_at }}</p>
                </div>
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'delete_review' review.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btnCancel"><i class="fa-solid fa-xmark"></i></button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    {% endif %}
    <footer  id="foot" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2023 Erad Creates</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <img src="{% static 'img/V.png' %}"  style="width: 30px; height: 30px;" alt="logo">
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="https://github.com/Eradboi" class="nav-link px-2 text-muted">Github</a></li>
          <li class="nav-item"><a href="https://twitter.com/eradboi" class="nav-link px-2 text-muted">Twitter</a></li>
          <li class="nav-item"><a href="https://www.youtube.com/channel/UC3KB-TqNQUkXKSLj9XbEZwg" class="nav-link px-2 text-muted">Youtube</a></li>
          <li class="nav-item"><a href="mailto:radearcher@gmail.com" class="nav-link px-2 text-muted">Email Me</a></li>
        </ul>
      </footer> 
</body>
{% endblock %}
</html>